@import "tailwindcss";

html,
body,
#root {
    height: 100%;
    width: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* You can also set a fallback background here if needed */
    /* background-color: #020617; */
    /* e.g., a dark slate color */
}